{% extends "layout.html" %}

{% block content %}
<h1>Sign in</h1>

<form action="/login" method="post">
    <p>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" maxlength="20" required>
    </p>

    <p>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required>
    </p>

    <p class="actions">
        <input class="btn" type="submit" value="Sign in">
    </p>
</form>

<p>Don’t you have an account? <a href="/register">Sign up here</a>.</p>
{% endblock %}